### Import library

In [102]:
import pandas as pd
pd.set_option("display.max_colwidth", 200)
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
from nltk.tokenize import word_tokenize

### Read and describe data from People wiki with pandas

In [82]:
df = pd.read_csv('./people_wiki.csv', sep=',',
                   encoding='latin-1', low_memory=False)

In [103]:
df.head()

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former australian rules footballer who played with the kangaroos and carlton in the australian football league aflfrom western australia morrell played his ...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from university of chicago in 1973 after studying psychiatry pharmacology and ophthalmology he is a full professor and vicechair of the department of psychia...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player who has been active in canadas blues scene since 1982 hailing from vancouver he crossed tens of thousands of miles playing club dates and festivals i...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lower austria austria on 18 january 1942 is an austrian publisher and critic in the fields of science fiction and the fantasticrottensteiner studied journ...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn better known by his stagename genka is an estonian rapper and record producergenka started rapping in 1996 along with revo and dj paul oja who was gen...

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59071 entries, 0 to 59070
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   URI     59071 non-null  object
 1   name    59071 non-null  object
 2   text    59071 non-null  object
dtypes: object(3)
memory usage: 1.4+ MB

In [104]:
df.describe().T

,count,unique,top,freq
URI,59071,59071,<http://dbpedia.org/resource/Digby_Morrell>,1
name,59071,59070,author),2
text,59071,59071,digby morrell born 10 october 1979 is a former australian rules footballer who played with the kangaroos and carlton in the australian football league aflfrom western australia morrell played his ...,1

### Save value from text column to sentences array

In [86]:
sentences = df["text"]
sentences[0]

'digby morrell born 10 october 1979 is a former australian rules footballer who played with the kangaroos and carlton in the australian football league aflfrom western australia morrell played his early senior football for west perth his 44game senior career for the falcons spanned 19982000 and he was the clubs leading goalkicker in 2000 at the age of 21 morrell was recruited to the australian football league by the kangaroos football club with its third round selection in the 2001 afl rookie draft as a forward he twice kicked five goals during his time with the kangaroos the first was in a losing cause against sydney in 2002 and the other the following season in a drawn game against brisbaneafter the 2003 season morrell was traded along with david teague to the carlton football club in exchange for corey mckernan he played 32 games for the blues before being delisted at the end of 2005 he continued to play victorian football league vfl football with the northern bullants carltons vflaffiliate in 2006 and acted as playing assistant coach in 2007 in 2008 he shifted to the box hill hawks before retiring from playing at the end of the season from 2009 until 2013 morrell was the senior coach of the strathmore football club in the essendon district football league leading the club to the 2011 premier division premiership since 2014 he has coached the west coburg football club also in the edflhe currently teaches physical education at parade college in melbourne'

### Build inverted index

In [87]:
# Declare dictionary of terms in sentences
dictionary = {}
# Declare stop words and stemmer
stop_words = set(stopwords.words('english'))
stemmer = SnowballStemmer("english", ignore_stopwords=True)

In [88]:
for senIdx, sentence in enumerate(sentences):
    # Tokenize words in sentence
    words = word_tokenize(sentence)
    for word in words:
        # Stemming words(remove morphological in word)
        word = stemmer.stem(word)
        # Ignore stop words in dictionary
        if word not in stop_words:
            # Ignore duplicate words in dictionary
            if word not in dictionary.keys():
                dictionary[word] = []
            dictionary[word] += [senIdx+2]

In [89]:
# Remove duplicate document index in dictionary
for key, value in dictionary.items():
    dictionary[key] = list(set(value))
# Convert dictionary to list
data_items = dictionary.items()
data_list = list(data_items)

In [105]:
# Convert list to dataframe for visualization
inverted_index = pd.DataFrame(data_list,columns=['term','document'])
inverted_index

,term,document
0,digbi,"[51745, 1698, 4802, 2, 39620, 21658, 52744, 51951, 58288, 46291, 42965, 4726, 16890, 22655]"
1,morrel,"[2, 44327, 51403, 41077, 45368, 25817]"
2,born,"[2, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 20, 21, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 58, 60, 61, 6..."
3,10,"[32769, 2, 32772, 32775, 8, 32777, 16, 21, 23, 24, 32796, 30, 31, 38, 32811, 53, 54, 32821, 64, 65, 32855, 32859, 103, 32877, 125, 126, 32918, 154, 32922, 32923, 32924, 159, 32927, 161, 165, 32935..."
4,octob,"[2, 7, 32781, 23, 32794, 28, 30, 31, 32800, 37, 32805, 41, 32812, 32823, 76, 77, 32858, 32859, 93, 97, 98, 101, 102, 103, 32870, 32874, 107, 32880, 117, 32888, 121, 124, 32893, 32894, 127, 128, 12..."
5,1979,"[2, 8195, 49154, 40966, 16392, 57352, 16398, 32782, 57361, 16405, 32790, 57366, 40991, 57375, 24609, 8227, 40995, 40996, 49191, 57386, 16427, 32814, 49198, 57394, 49203, 16440, 8250, 41026, 8260, ..."
6,former,"[32768, 32769, 2, 32776, 32777, 32780, 32781, 32783, 16, 32785, 24, 32792, 27, 32796, 32797, 30, 32, 34, 35, 32802, 32805, 39, 32807, 41, 32809, 43, 32810, 32813, 32814, 32815, 48, 32817, 50, 51, ..."
7,australian,"[24576, 8193, 2, 24577, 40962, 8197, 16390, 57347, 57352, 57354, 57356, 16398, 32785, 32786, 40981, 24601, 28, 8228, 40996, 49189, 32809, 42, 8236, 24620, 57390, 24627, 32820, 8249, 24635, 49211, ..."
8,rule,"[2, 40962, 8197, 32781, 16398, 40974, 8208, 57357, 40979, 8216, 49177, 16410, 16420, 40998, 24615, 8236, 32813, 57390, 24627, 8245, 54, 24630, 8258, 16454, 57415, 49225, 8268, 57430, 24663, 24664,..."
9,footbal,"[2, 32775, 32780, 19, 23, 24, 32796, 30, 43, 50, 32819, 65, 32839, 77, 32853, 32857, 32859, 94, 97, 32868, 101, 103, 120, 32888, 124, 125, 138, 32908, 32917, 150, 153, 154, 155, 32926, 32927, 3293..."
10,play,"[2, 32771, 4, 32772, 32773, 32775, 8, 9, 32780, 32782, 32784, 32786, 19, 32787, 32788, 23, 27, 32796, 30, 32, 32800, 32802, 35, 32804, 32807, 43, 32814, 32817, 50, 51, 32818, 32823, 32825, 32827, ..."
11,kangaroo,"[1025, 2, 47107, 20484, 10763, 7692, 17938, 57874, 4628, 45078, 9256, 14379, 31799, 22589, 50750, 44608, 47687, 49735, 13386, 26698, 54871, 21607, 30311, 21627, 19081, 52882, 28309, 58009, 25754, ..."
12,carlton,"[44033, 2, 54786, 33796, 20998, 41484, 47117, 22030, 8209, 17938, 28177, 13333, 21013, 21528, 32281, 48665, 49688, 16925, 15902, 22558, 48676, 40488, 2603, 47661, 42032, 2609, 10291, 17459, 25141,..."
13,leagu,"[2, 32772, 32775, 32780, 23, 24, 27, 32796, 30, 32800, 35, 32807, 43, 32814, 50, 51, 65, 32853, 32857, 32859, 94, 97, 32868, 101, 32870, 103, 32881, 116, 120, 32888, 124, 125, 32900, 32901, 32907,..."
14,aflfrom,[2]
15,western,"[40960, 2, 57348, 8197, 49158, 8203, 57356, 8210, 57366, 49175, 40991, 57377, 24615, 16436, 49204, 41020, 8253, 57415, 24648, 24660, 24663, 41057, 102, 32870, 41064, 24683, 41067, 8304, 16496, 574..."
16,australia,"[24576, 24577, 2, 40960, 57347, 8197, 32773, 57352, 8201, 24588, 57356, 32785, 32786, 57363, 40981, 40983, 49175, 24601, 28, 57373, 8226, 8228, 8230, 24615, 40999, 32809, 42, 43, 57390, 24627, 328..."
17,earli,"[2, 32771, 8, 9, 10, 32776, 22, 26, 27, 28, 35, 32804, 39, 32811, 32814, 32817, 32818, 52, 32822, 32823, 56, 32825, 61, 32836, 32837, 72, 32842, 32844, 32845, 32854, 32856, 89, 32857, 92, 32861, 9..."
18,senior,"[2, 3, 16, 19, 32793, 28, 32, 36, 43, 32812, 46, 50, 61, 32831, 32839, 76, 77, 80, 32852, 32854, 32855, 32858, 32859, 96, 97, 101, 32872, 32877, 32888, 124, 32892, 32900, 134, 32903, 32905, 32907,..."
19,west,"[16384, 40961, 2, 32771, 24580, 8197, 8198, 8199, 8, 9, 16390, 24586, 32775, 32780, 57356, 16399, 32783, 32784, 24596, 24597, 8215, 24600, 57367, 26, 29, 40991, 24608, 33, 40995, 8228, 49188, 1642..."
20,perth,"[2, 40966, 26641, 49175, 2075, 8228, 4162, 18501, 57415, 24648, 34890, 49236, 24663, 20568, 47191, 55385, 32870, 2151, 28775, 55411, 32892, 53374, 53379, 36998, 51335, 20620, 55438, 43151, 32926, ..."
21,44game,"[2, 10029, 13494]"
22,career,"[2, 32771, 32775, 32776, 32777, 32780, 15, 32787, 32790, 23, 27, 30, 32799, 32, 33, 32802, 35, 42, 32811, 32814, 49, 50, 32817, 32818, 53, 54, 55, 32819, 32821, 32823, 32825, 32827, 32828, 32831, ..."
23,falcon,"[2, 31746, 49154, 47109, 41990, 52234, 47118, 38927, 45584, 31249, 34321, 18965, 30229, 48149, 25, 55835, 44061, 44066, 17955, 10788, 17448, 52776, 43, 6699, 15916, 33324, 33326, 52268, 561, 20530..."
24,span,"[16384, 2, 12291, 34819, 14346, 43022, 40978, 2067, 30743, 34841, 47129, 20516, 18471, 24621, 20529, 16439, 34876, 57405, 34880, 45121, 57410, 53316, 55368, 20555, 32844, 49230, 49232, 53330, 4309..."
25,19982000,"[2, 36355, 51721, 11277, 11797, 32281, 57894, 6704, 42032, 17460, 22584, 56893, 5699, 37956, 38468, 19018, 42064, 31320, 6236, 34909, 21091, 5224, 39532, 17009, 28795, 44158, 51839, 30852, 36998, ..."
26,club,"[2, 4, 32773, 32775, 8, 10, 19, 23, 24, 25, 27, 28, 32796, 30, 32800, 32802, 32810, 32829, 65, 32839, 32856, 32857, 32862, 96, 97, 101, 32870, 110, 32881, 114, 115, 120, 122, 32890, 124, 32908, 32..."
27,lead,"[2, 4, 5, 32773, 32781, 32786, 32789, 22, 24, 32794, 31, 32802, 32807, 41, 50, 51, 32818, 53, 66, 32839, 32841, 32848, 32851, 86, 90, 92, 104, 105, 32872, 32875, 32877, 112, 32881, 114, 32885, 120..."
28,goalkick,"[2, 55306, 44046, 17935, 19984, 21528, 50204, 22558, 20008, 39472, 17459, 50227, 46655, 9804, 13901, 14930, 57430, 47709, 34405, 58987, 33390, 20082, 120, 40571, 637, 18045, 57990, 23687, 53896, 2..."
29,2000,"[2, 32782, 15, 22, 25, 32797, 30, 32801, 32802, 38, 32811, 51, 55, 32824, 62, 32831, 32835, 72, 32856, 89, 32859, 32866, 32868, 103, 105, 108, 32876, 111, 32880, 32882, 119, 32890, 130, 135, 32903..."
...,...,...
483108,pjpa,[59066]
483109,eggspect,[59066]
483110,decovan,[59067]
483111,nolook,[59067]
483112,2k,[59067]
483113,2k12on,[59067]
483114,nyyd,[59068]
483115,orchestraolari,[59068]
483116,toulolus,[59068]
483117,ivth,[59068]
483118,sonwrit,[59069]
483119,trafton,[59069]
483120,happenon,[59069]
483121,tourliv,[59069]
483122,craviotto,[59069]
483123,quikstix,[59069]
483124,apparelscott,[59069]
483125,muffl,[59069]
483126,5088376,[59069]
483127,procushion,[59069]
483128,soundasid,[59069]
483129,orientwhilst,[59070]
483130,3257,[59070]
483131,15696,[59070]
483132,grewcock,[59070]
483133,recordselia,[59071]
483134,damrah,[59072]
483135,fawwz,[59072]
483136,damra,[59072]
483137,trusteesdu,[59072]

### Find document contain keyword

In [91]:
def queryStringContainKeyword(keyword):
   return inverted_index[inverted_index.term.str.contains(keyword)]

In [92]:
def queryStringKeyword(keyword):
   return inverted_index[inverted_index.term == keyword]

In [106]:
queryStringContainKeyword("career")

,term,document
22,career,"[2, 32771, 32775, 32776, 32777, 32780, 15, 32787, 32790, 23, 27, 30, 32799, 32, 33, 32802, 35, 42, 32811, 32814, 49, 50, 32817, 32818, 53, 54, 55, 32819, 32821, 32823, 32825, 32827, 32828, 32831, ..."
1832,careerh,"[41344, 51840, 55683, 46980, 22278, 49030, 52742, 23433, 40458, 47500, 11917, 21261, 50835, 22, 10007, 44055, 35737, 26526, 46878, 46880, 2724, 23159, 18728, 28199, 48424, 54569, 50092, 5422, 7346..."
2054,careeraft,"[19473, 53528, 25, 154, 30362, 3486, 934, 26407, 14250, 41386, 10925, 39611, 6847, 12353, 4418, 6469, 30149, 2122, 6986, 23503, 47696, 40658, 3413, 42073, 12381, 7390, 5853, 24159, 38749, 5218, 43..."
2653,careerhigh,"[11264, 52736, 10758, 11273, 14857, 12811, 4620, 38924, 32271, 3600, 4627, 11284, 12819, 31256, 30745, 36376, 49184, 35, 57892, 47144, 2601, 57384, 6699, 33326, 12335, 6708, 46646, 53818, 28731, 5..."
3523,careery,[53]
8032,careermellor,[171]
11400,mlbcareer,[278]
12243,careerend,"[35075, 17148, 51846, 38924, 48014, 56980, 8606, 29215, 13728, 58924, 301, 2478, 10933, 26933, 33206, 42305, 38357, 55894, 58459, 25437, 51557, 13544, 19817, 56937, 6508, 25069, 14199, 54776, 3110..."
15679,careerdefin,"[26600, 29262, 27311, 28023, 441]"
15717,careermcbrid,[441]
19823,careeron,"[4386, 1348, 56607, 52361, 40345, 620, 46350, 43024, 46449, 10006, 27161, 40959]"
20506,careergerela,[650]
27256,careerin,"[39426, 32777, 28686, 31761, 16402, 52254, 43043, 10789, 31797, 12356, 51780, 9291, 16463, 46686, 13411, 11364, 5752, 9340, 10365, 2177, 45710, 56468, 39078, 42662, 33453, 38576, 12980, 47798, 483..."
28111,careernicki,[1040]
29293,careeri,"[1107, 46852]"
29364,careerhighlight,[1111]
32101,enthusiastcareerthey,[1266]
34177,careersh,"[14736, 26003, 1433, 43169, 10786, 8500, 39479, 35008, 30535, 58569, 18393, 30170, 16609, 52706, 47463, 6633, 18027, 20844, 47085, 51949, 1392, 45435, 15483, 2044, 9598]"
35159,careergodynyuk,[1449]
35645,careeralongsid,[1478]
43959,careermalkin,[2000]
46764,careerth,"[33186, 12132, 55429, 31846, 4775, 36551, 42813, 2188, 38412, 40560, 11153, 33909, 3035, 37563]"
46995,careerwhil,"[11114, 43091, 2206, 26391]"
48602,careerbest,"[9732, 32262, 53896, 11273, 37897, 2317, 51856, 17938, 45586, 37269, 22294, 12062, 30115, 6565, 5546, 2991, 36144, 21297, 35762, 29236, 11190, 15926, 17211, 53180, 20928, 38849, 54209, 39238, 2260..."
49282,careersin,"[2363, 20741]"
52391,careera,"[34304, 3203, 2570, 16020, 47129, 35360, 5421, 15406, 36786, 7750, 23366, 49863, 56902, 12881, 27731, 5204, 35159, 34522, 23645, 19437]"
52810,careerskimsey,[2602]
53015,31career,[2618]
57341,careerprevi,[2925]
60614,career\tprofession,[3131]
...,...,...
452324,careersanni,[53814]
452689,careerrecruit,[53879]
453855,careerteach,[54088]
455348,careerhaney,[54344]
456844,careerdavi,[54594]
456933,careerstansfield,[54605]
458228,careerlang,[54805]
460272,careertassi,[55165]
463890,career1,[55783]
464850,careerberri,[55936]
464990,careermorri,[55959]
466543,careerjomhod,[56236]
466617,careerlangan,[56249]
467419,careeryonov,[56391]
469674,careerjaide,[56790]
470714,careerjanuari,[56961]
471235,careerstart,[57037]
472542,careeramong,[57248]
473629,careerdiplomat,[57434]
474130,careerwis,[57541]
474659,careermatsubara,[57640]
475405,careerforward,[57750]
476398,careerscott,[57905]
476489,careerfitzsimon,[57919]
478462,careermrkorostenskij,[58275]
478776,careerbiscuit,[58320]
479402,careersiebl,[58429]
479628,careerbooth,[58476]
481521,careergilli,[58794]
482546,careerallan,[58964]

In [107]:
queryStringKeyword("career")

,term,document
22,career,"[2, 32771, 32775, 32776, 32777, 32780, 15, 32787, 32790, 23, 27, 30, 32799, 32, 33, 32802, 35, 42, 32811, 32814, 49, 50, 32817, 32818, 53, 54, 55, 32819, 32821, 32823, 32825, 32827, 32828, 32831, ..."